<div id="home" phx-hook="Home" class="h-full flex flex-row justify-center gap-6 lg:justify-end">
  <p id="join-error-message" class="w-full h-full text-brand/80 font-semibold hidden">
    Unable to join the room
  </p>
  <div id="videoplayer-wrapper" class="w-full h-full grid gap-2 p-2 auto-rows-fr grid-cols-1">
    <video id="videoplayer-local" class="rounded-xl w-full h-full object-cover" autoplay muted>
    </video>
  </div>
</div>
